.loginAndRegisterForm{
    width: 70%;
}
.loginAndRegisterForm input{
    height:50px;
    border:1px solid grey;
    margin-top:10px;
    padding-left:10px;
    border-radius:5px;
    width:100%;
    outline: none;
}
.loginAndRegisterForm button{
    color:white;
    padding:10px;
    margin-top:20px;
    width:100%;
    border-radius: 5px;
}
.loginAndRegisterForm button:hover{
    background:rgb(10,10,10);
} 
.fileType>.currentImgBackground>.fileUpload--updateProfilePfp>.plusIcon{
    color:white;
    font-size:150px;
}
.fileType>.currentImgBackground>.fileUpload--updateProfilePfp{
    height:300px;
    width:300px;
    margin-bottom:20px;
    display:flex;
    justify-content: center;
    align-items: center;
    background:rgba(25, 135, 84,.4);
    margin-top:20px;
}